:root {
    --color-fondo: #ffffff;
    --color-titulos: #2c304c;
    --color-parrafo: #b9b8bd;
    --color-fondo-boton-activo: #5267df;
    --color-letra-boton-activo: #ffffff;
    --color-fondo-boton-inactivo: #f7f7f7;
    --color-letra-boton-inactivo: #666671;
    --color-imagen-fondo: #5063d7;
    --color-letra-pestana-activa: #414255;
    --color-letra-pestana-inactiva: #999aa0;
    --color-linea-pestana: #f5f4f7;
    --color-sombra-tarjeta: #f9fafc;
    --color-titulo-hamburguesa: #737383;
    --color-fondo-formulario: #5266df;    
    --color-letra-formulario: #f8fbff;
    --color-boton-contacto: #fb5859;
    --color-fondo-pie: #242946;
    --padding-margenes: 20px;
}

body{
    max-width: 1200px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-titulos);
    /*background-color: blue;*/
}
p{
    color: var(--color-parrafo);
}

button{
    background-color: var(--color-fondo-boton-activo);
    padding: 20px;
    border-radius: 5px;
    border: 0px;
    color: var(--color-letra-boton-activo);
    font-size: medium;
    font-weight: bold;
}

button:disabled{
    background-color:var(--color-fondo-boton-inactivo);
    color: var(--color-letra-boton-inactivo);
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding: var(--padding-margenes);
}

.menu{
    display: none;
    flex-direction: row;
}

main{
    text-align: center;
    margin-bottom: 50px;
    padding: 20px;
}

main section{
    margin-top: 50px;
}

.features_list{
    display: flex;
    flex-direction: column;
}
.features_list > h3{
    display: flexbox;
    border-color: var(--color-linea-pestana);
    border-top: 1px;
    border-bottom: 1px;
}
.preguntas{
    text-align: left;
}

.pregunta{
    border-bottom: 1px solid;
    border-color: var(--color-linea-pestana);
}
.cabecera_pregunta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:baseline;

}
/*.pregunta p{
    display: none;
}*/

.browser{
    margin: 20px;
    padding: 20px;
    border: 1px;
    box-shadow: 0 4px 12px var(--color-sombra-tarjeta);
    border-radius: 15px;
}

.puntos{
    padding-top: 20px;
    padding-bottom: 20px;
}

footer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-content: stretch;
    margin: 0px;
}

.caja-formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-fondo-formulario);
    color: var(--color-letra-formulario);
    padding: var(--padding-margenes);
}
.caja-formulario h2{
    text-align: center;
}
.caja-formulario p{
    color: var(--color-letra-formulario);
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario input{
    flex-grow: 1;
    flex-basis: 100%;

}

.enlaces{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-fondo-pie);
    color: var(--color-letra-formulario);
    gap: 10px;
}

.paginas{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.pagina{
    flex-basis:auto;
    text-align: center;
}