body{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: blue;*/
}
p{
    color: grey;
}

button{
    background-color: dodgerblue;
    padding: 20px;
    border-radius: 5px;
    border: 0px;
    color: white;
    font-size: medium;
    font-weight: bold;
}

.btn_not_selected{
    background-color:ghostwhite;
    color: grey;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.menu{
    display: none;
    flex-direction: row;
}

main{
    text-align: center;
}

main section{
    margin-top: 50px;
}

.features_list{
    display: flex;
    flex-direction: column;
}
.features_list > h3{
    border-color: grey;
    border-top: 1px;
    border-bottom: 1px;
}
.preguntas{
    text-align: left;
}
.pregunta p{
    display: none;
}

.browser{
    margin: 20px;
    padding: 20px;
    border: 1px;
    box-shadow: 0 4px 12px rgb(190, 190, 190);
    border-radius: 15px;
}

.puntos{
    padding-top: 20px;
    padding-bottom: 20px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}